* {
  box-sizing: border-box;
}

body {
  background-color: #F7F9F4; /* цвет фона */
  padding: 15px;
  font-family: 'Inter', sans-serif;
}

.page-wrapper {
  max-width: 390px; /*максимальная ширина*/
  margin: auto; /*расположение по середине*/
  background: #EBE9E9;
  box-shadow: 0px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 21px; 
}

.container {
  max-width: 300px;
  margin: auto;
}

.header {
  color: #fff ;
  padding: 22px 10px 145px;
  background: url(../img/1de78903cbad66ad273b2494567ccc78.png) no-repeat center / cover; /* не повторяется расп по центру растягивается */
  border-radius: 0px 0px 70px 70px;
}

.hello {
  font size: 24px;
  line height: 29px;
  line height: 100%;
}

.hello-text {
  font size: 20px;
  line height: 24px;
  line height: 100%;
}

.user {
  text-align: center;
  bottom right radius: 40px;
  bottom left radius: 40px;
}

.user-avatar {
  margin-top: -86px;
  border-radius: 50%;
  object-fit: cover; /*не растягивается*/
  border: 3px solid D6C7A1; 
}

.user-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.card {
  text-align: center;
  bottom right radius: 40px;
  bottom left radius: 40px;
}

.buttons {
  height: 40 px;
  display: flex;
  justify-content: space-between;
  max-width: 260px;
  margin: auto;
  flex-shrink: 1;
  width: 100%;
  gap: 10px;
}

